* {
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
}

body, html {
    background-image: linear-gradient(45deg, #7b2323, #030202);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    -: linear-gradient(45deg,
    black, transparent);
    padding-top: 1px;
}

.tile {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    border: 1px solid black;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 50px);
    gap: 1px;
}

.tile {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}

.playerX {
    color: #c91f1f;
}

.playerO {
    color: #070b45;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

#reset {
    background-color: #FF3860;
}
